<p id="notice"><%= notice %></p>
<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>
<h1> Products under this category </h1>
<br>
<br>
<% Product.where(category_id: @category.id).in_groups_of(3,  false).each do |group| %>
<div class='row'>
  <% group.each do |product| %>
  <div class='col-sm-4'>
    <div class="well well-lg">
      <%= image_tag(product.photo.url(:medium), class: "img-responsive") %>
      <h3><%= link_to product.title, product %></h3>
      <div><%= number_to_currency(product.price, :unit => 'INR') %></div>
    </div>
  </div>
  <% end %>
</div>
<br>
<% end %>
<br><br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %> |
<%= link_to 'Add products', new_product_path %> |
<br>
<br>


